* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fullscreen-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between; /* Spread elements evenly across the header */
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  background-color: #e2e8f0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  z-index: 3;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-left {
  flex: 1; /* Allows dynamic spacing */
}

.header-center {
  flex: 1; /* Center content takes equal space */
  flex-direction: column; /* Stack items vertically */
  text-align: center;
}

.header-right {
  flex: 1; /* Dynamic spacing for right content */
  justify-content: flex-end;
  gap: 0.5rem;
}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.video-feed {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scale(1.05); /* Slight scale-up for better coverage */
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none; /* Allow clicks to pass through */
}

.control-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  background-color: rgba(255, 69, 58, 0.9); /* Slightly transparent red */
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


.learned-objects-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 300px; /* Set desired width */
  height: 200px; /* Set desired height */
  overflow-y: auto;
}

/* learned object section*/
.learned-objects-section {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #ccc;
  background-color: #f9f9f9;
  text-align: left;
}

.learned-objects-section h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.learned-objects-list {
  list-style: none;
  padding: 0;
}

.learned-object-item {
  padding: 5px 10px;
  background-color: #e8f5e9;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #388e3c;
}
