/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen Layout */
.fullscreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f5f9;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 3;
  width: 100vw; /* Full viewport width */

}

.header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header-center {
  text-align: center;
  flex: 2;
}

/* Main Content Layout */
.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: calc(100vh - 60px); /* Full viewport height minus header height */
  overflow: hidden;
  z-index: 1;
}

.video-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05); /* Slight scale-up for better coverage */
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.learned-objects-section {
  position: absolute;
  top: 70px; /* Adjust based on header height */
  right: 20px;
  width: 200px; /* Adjust as needed */
  max-height: 80vh;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #333; /* Dark background color */
  overflow-y: auto;
  z-index: 4;
  color: #fff; /* White text color */

}

.learned-objects-section h3 {
  margin-bottom: 10px;
  color: #fff; /* White text color */

}

.learned-objects-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.learned-object-item {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
  border-radius: 5px;
  color: #e0e0e0;
}


.control-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  background-color: rgba(58, 123, 213, 0.9); /* Slightly transparent blue */
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.control-button:disabled {
  background-color: rgba(150, 150, 150, 0.9); /* Gray color for disabled state */
  cursor: not-allowed;
}
